/*Computer version*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba( 46,47,66,0.08),
      0px 1px 1px rgba(46,47,66,0.16)0,
  0px 1px 6px rgba( 46,47,66,0.08);
  }
  .page-header .container {
    display: flex;
    align-items: center;
  }
  .page-nav {
    display: flex;
  align-items: center;
  }
  .header-menu{
    display: flex;
    gap: 40px;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
  }
  
  span {
    color: #2e2f42;
    margin-right: 76px;
  }
  
  .links-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    position: relative;
  }
  
  .links-nav:hover,
  .links-nav:active,
  .links-nav:focus {
    color: #404bbf;
  }
    
  .address {
     color: #2e2f42;
    text-decoration: none;
    margin-left: auto;
    font-style: normal;
  }  
  
  .links {
    display: block;
  }
  .current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4,0,0.2,1);
      color: #404bbf;
  }
  
  .current::after {
    content:"";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  
  .header-address {
    display: flex;
    gap: 40px;
  }
  
  .contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    margin: 0;
    padding: 20px 0 20px 0;
    transition: color 250ms cubic-bezier(0.4,0,0.2,1);
  }
  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
  }



  /*Tablet version*/

  @media screen and (min-width: 768px) {
    .container {
     max-width: 768px ;
    } 
    .open-menu-btn {
      display: none;
    }
    .logo {
      margin-right: 120px;
    }
    .header-menu {
      display: flex;
      gap: 40px;
    }
    
    .links-nav {
      color:#2e2f42;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      padding: 24px 0;
      display: block;
      transition: color 250ms cubic-berzier(0.4,0,0.2,1);
    }
    .links-nav:hover,
    .links-nav:focus {
      color: #404bbf;
    }
    .current {
      position: relative;
      color: #404bbf;
    }
    .current::after {
      container: "";
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 4px;
      background-color: #404bbf;
      border-radius: 2px;
    }

    .address{
      display: block;
      flex-direction: column;
      gap: 12px;
    }
    .contacts {
      color: #434455;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      transition: color cubic-bezier(0.4,0,0.2,1);
    }

 .contacts:hover,
 .contacts:focus {
  color: #404bbf;
 }
   }


  /*pc version*/

 @media  and {min-width: 1158px;
  
 }